{% load static wagtailuserbar %}
{% load website_tags %}

<!DOCTYPE html>
<html class="no-js">
    <head>

        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="." />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta property="og:title" content="Gabriel Grove">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://gabrielgrove.com">
        <meta property="og:image" content="/static/images/icon.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="300">
        <meta property="og:image:height" content="300">
        <meta property="og:image:alt" content="">
        <meta property="og:description" content="">
        <link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicons//android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons//favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/favicons//favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons//favicon-16x16.png">
        <link rel="manifest" href="/static/favicons//manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/favicons//ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/website.css' %}">
        <link rel="stylesheet" href="//unpkg.com/semantic-ui@2.2.13/dist/semantic.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Karla|Scope+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:300" rel="stylesheet">


        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <a href="/">
          <div class="banner">
            <h1 class="header">Gabriel Grove</h1>
            <p class="tagline">Everyone deserves a livable wage especially the working poor; otherwise we will continue to perpetrate poverty in America!</p>
          </div>
        </a>

        <div class="ui four item stackable menu">
          {% for item in request.site.root_page.get_children.live.in_menu %}
          <a class="item" href="{{ item.url }}">
            {{ item }}
          </a>
          {% endfor %}

        </div>

        <div class="main-content">
          {% block content %}{% endblock %}
        </div>

        <div class="ui inverted vertical footer segment">
          <div class="ui center aligned footer container">
            <div class="ui stackable inverted divided grid">
              <div class="eight wide column">
                <h4 class="ui inverted header">Learn More</h4>
                <div class="ui inverted link list">
                  {% for item in request.site.root_page.get_children.live.in_menu %}
                  <a class="item" href="{{ item.url }}">
                    {{ item }}
                  </a>
                  {% endfor %}
                </div>
              </div>
              <div class="eight wide column">
                <h4 class="ui inverted header">Connect</h4>
                <div class="ui inverted link list">
                  <a href="https://www.linkedin.com/in/grovegabriel775/" class="item">LinkedIn</a>
                  <a href="https://medium.com/@ggrove775" class="item">Medium</a>
                  <a href="https://forhersake.org/" class="item">For Her Sake</a>
                </div>
              </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p>Sharing is caring. Licensed under the AGPL 3.0. Source available on <a href="https://github.com/marykatefain/new_personal_site" target="_blank">GitHub</a>.</p>
            </div>
          </div>
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/website.js' %}"></script>


        {% get_setting "ANALYTICS_ENABLED" as analytics_enabled %}
        {% if not request.is_preview and analytics_enabled %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id="></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '');
        </script>
        {% endif %}


        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
